:root{
    --azul:#a34bec;
    --verde:#8400ff;
    --blanco:#fff;
    --rojo:#3cc8ff;
    --oscuro:#000;
    --titulosHome:'Arima Madurai',cursive;
    --parrafosHome:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
}
body{
    overflow-x: hidden;
}



*,*::after, *::before{
    box-sizing: inherit;
}
/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

.container_links{
    font-weight: 700;
    font-size: 20px;
    margin-top: -20px;
}

.nav_title{
    width: 100%;
}
h1,h2{
    font-family: var(--titulosHome);
}
h3, p, a{
    font-family: var(--parrafosHome);
}

img{
    max-width: 100%;
}
.verde{
    color: var(--verde);
}
.azul{
color: var(--azul);
}
.rojo{
    color: var(--rojo);
}
.ocultar{
    display: none;
}
.butn-cerrar{
    font-size: .5rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}

.butn-cerrar:hover{
    cursor: pointer;
}

.butn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 1rem;
    text-transform: capitalize;
    padding: .3rem 1rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media(min-width: 768px) {
    .butn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid var(--blanco);
}
@media(min-width: 768px) {
    .bordes{
        border: 4px solid var(--blanco);
    }
}

.bordes:hover{
    color: var(--azul);
    background-color: var(--blanco);
}
.butn-rojo{
    background-color: var(--rojo);
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.butn-verde{
    background-color: var(--azul);
    border: none;
    display: inline-block;
    margin-bottom: 1rem;
    font-family: var(--parrafosHome);
}
.butn-verde:hover{
    background-color: var(--rojo);
}
/*encabezado*/
.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;

}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo h2, .navegacion a {
color: var(--blanco);  
}
.logo h2{
    font-size: 2rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 2.5rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width: 768px) {
    .navegacion a{
        text-align: left;
    }
}


.navegacion a:nth-child(even):hover{
    color: var(--azul);
}
.navegacion a:nth-child(odd):hover{
    color: var(--rojo);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}

.hamburguesa:hover{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--blanco);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}

/*video*/
.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-encabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px) {
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

/*sobre nosotros*/
.contenedor-nosotros{
    
    padding-top: 5rem;
}
@media(min-width: 768px) {
    .contenedor-nosotros{
        display: flex;
        justify-content: space-between;
    }   
}
.texto-nosotros, .imagenes-nosotros{

    flex: 0 0 calc(50% - 1rem) ;
}
.texto-nosotros .bienvenida{
    font-size: 3rem;
    color: var(--verde);
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros .bienvenida{
        text-align: left;
    }
}
.texto-nosotros h1{
    font-size: 2rem;
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros h1{
        text-align: left;
    }
}
.texto-nosotros p{
    font-size: 1.5rem;
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros p{
        text-align: left;
    }
}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}
.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}
.imagenes2 img{
    margin-bottom: 1rem;
}
.menu{
    padding-top: 4rem;
}
/*platillos*/
.texto-productos{
    text-align: center;
    font-size: 2.9rem;
}

.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}
@media(min-width: 768px) {
    .botones-productos{
        display: inline-block;
    }
    .botones-productos button{
        flex: unset;
    }
}
@media(min-width: 768px) {
    .productos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.producto{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #000000;
    padding: 2rem;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.producto h2{
    text-align: center;
}
.producto p{
    font-size: 1.8rem;
    text-align: center;
}
.precio{
    display: flex;
    justify-content: center;
}
.precio p{
    font-weight: bold;
}
.button_enviar{
    padding:1rem 4rem;
    border-radius: 5px;
    border: none;
    background-color: var(--rojo);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.containe_button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}



.separador{
    background-image: url('');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.contenido-separador{
    padding: 5rem;
}

.contenido-separador h2{
    font-size: 1.5rem;
    color: var(--blanco);
    text-align: center;
}
@media(min-width: 768px) {
    .contenido-separador h2{
        text-align: left;
        font-size: 1.5rem;
        color: var(--blanco);
    }
}
.contenido-separador p{
    color: var(--blanco);
    font-size: 1rem;
    text-align: center;
}
@media(min-width: 768px) {
    .contenido-separador p{
        text-align: left;
    }
}


/*formulario contacto*/
@media(min-width: 768px) {
    .formulario-contacto{
        display: flex;
    }
}
.informacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-contacto, .formulario{
    flex: 0 0 calc(50% - 1rem);
}
.informacion-contacto{
    background-color: var(--oscuro);
    padding: 2rem;
}

.informacion-contacto h3, .informacion-contacto p, .redes-sociales i{
    color: var(--blanco);
}
.informacion-contacto h3{
    font-size: 1.8rem;
    font-family: var(--titulosHome);
}

.informacion-contacto p{
    font-size: 1.6rem;

}
.informacion-contacto i{
    margin-right: 1rem;
}

.redes-sociales{
    font-size: 1.5rem;
}

.formulario{
    padding: 5rem;
}

.input-formulario label{
    display: block;
    font-size: 2rem;
    font-family: var(--parrafosHome);
    margin-bottom: 1.5rem;
}

.input-formulario input, .input-formulario textarea{
    width: 100%;
}
.input-formulario input, .input-formulario textarea{
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    font-family: var(--parrafosHome);
}
.input-formulario textarea{
    height: 20rem;
    resize:none;
}

.pie-pagina{
    margin-top: 2rem;
    background-color: rgb(20,20,20);
    padding: 2rem;
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }

}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 1.7rem;
}
.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}
.info h3{
    font-size: 1.7rem;
}
.info p{
    font-size: 1.7rem;
}

.redes-pie{
    text-align: center;
}
.info input[type="email"]{
    font-family: var(--parrafosHome);
    display: inline-block;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.info input[type="submit"]{
    padding: .5rem 2rem;
    font-size: 1rem;
    border-radius: 10px;
}
.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 1.5rem;
}